* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
      background-image: url("../img/anunciacao.png");
      background-size: auto 100vh; 
      background-repeat: no-repeat;
      background-position: center;
      background-color: black;
      font-family: monospace;
      height: 100vh;
       
       
  }
  /*se a tela tiver pelo menos 400px, carregue estes estilos */
@media (min-width: 400px){
  body{
    font-size: 18px;
  }
  
 
}
/* breakpoint*/
@media (min-width: 600px){
  body{
    font-size: 22px;
  }
}

  header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu{
    position: fixed;
    width: 100vw;
    top:0;
    width: 100vw;
  }
  .menu a{
    padding: 10px 20px;
    display: block;
  }
  .menu ul{
    display:flex;
    justify-content: space-around;
    
  }
  .menu li{
    list-style:none;
  }
  
  a{
    color: rgb(44, 14, 94);
    text-decoration: none;
    font-size: 20px;
    text-shadow: 5px 5px lavenderblush;
  }
  a:hover{
    font-weight: bold;
  }
  
 
  .site-title{
    color: whitesmoke;
    text-align: center;
    text-shadow: 6px 3px rgb(6, 15, 15);
    font-size: 2em;
  }
  .site-subtitle{
    color: khaki;
    font-family: serif;
    font-style:italic;
    font-weight: lighter;
    text-align: center;
    
   
  }
  .img-portfolio{
    list-style: none;
    height:200px;
    width: auto;
    font-family: cursive;
    color: white;
  }
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  figcaption{
    color: rgb(213, 206, 226);
    text-decoration: none;
    font-size: 20px;
    font-style:italic;
    font-weight: lighter;
    text-shadow: 3px 2px rgb(6, 15, 15);
    
  }
  label{
    color: whitesmoke;
    text-align: left;
    text-shadow: 6px 3px rgb(44, 14, 94);
    
  }
  #elements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:auto;
  }
